<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/register.css' %}">
  <link href="{% static '/img/favicon.png' %}" rel="icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <title>E-Hub | Register</title>
</head>

<body>
  <header>
    <div class="error" id="errorSection">
      <div class="ico"><i class="fa-solid fa-circle-exclamation"></i></div>
      <div class="message"><p id='txterror'>An Error Occured</p></div>
      <div class="close">
        <i class="fa-sharp fa-regular fa-circle-xmark" id="closeBtn"></i>
      </div>
    </div>
    <div class="content">
      <div class="image"></div>
        <form method="post" onsubmit="return validateForm()" class="form" name="RegisterForm">
          <div class="logo"><img src="{% static '/img/nice.png' %}" ></div>
          {% csrf_token %}
          <h1><i class="fa fa-user-circle" aria-hidden="true"></i>  Be Registered</h1>
          <input type="text" name="username" maxlength="150" placeholder="username">
          <input type="text" name="email" placeholder="Email">
          <div class="select">
          <h4><i class="fa-solid fa-bomb"></i> Course : </h4>  
          <select class="slct" name="first_name" id="id_first_name" >
              <option value="Binance" selected>Binance</option>
              <option value="Fore">Fore</option>
              <option value="Expert Option">Expert Option</option>
              <option value="Binary">Binary</option>
              <option value="Ebay">E-Bay selling</option>
              <option value="photo editing">Photo-Editing(mobile)</option>
              <option value="Fiverr">Fiverr</option>
              <option value="artificial marketing">Afiliate markerting (Free on binance course)</option>              
            </select></div>
            <input type="number" name="last_name" placeholder="Phone number">    
            <input type="password" name="password1" autocomplete="new-password" placeholder="password">
          <input type="password" name="password2" autocomplete="new-password" placeholder="confirm password">
          <h4>Allready have an Account ?  <span><a href="{% url 'login' %}">Login here</a></span></h4>
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </header>
  <script>
    const closeBtn = document.getElementById('closeBtn');
    const errorSection = document.getElementById('errorSection');
    const error = document.getElementById('txterror');

    errorSection.classList.add('closeerror');
    
    function showAndHide(){
      errorSection.classList.remove('closeerror');
      errorSection.classList.toggle('error-addstyle');
    }
    function validateForm(){
      
      let UserName = document.forms["RegisterForm"]["username"].value;
      let pssword = document.forms["RegisterForm"]["password1"].value;
      let confirm = document.forms["RegisterForm"]["password2"].value;
      let Email = document.forms["RegisterForm"]["email"].value;
      let phoneNumber = document.forms["RegisterForm"]["last_name"].value;
      var reWhiteSpace = new RegExp("\\s+");
      const checkEmailValid = '@';
      const checkEmailValid2 = '.';

      if(UserName == ''){
        error.innerHTML="Please fill the username field";
        showAndHide()
        return false
      }

      if (reWhiteSpace.test(UserName)){
        error.innerHTML = "Please Enter Your First name as the username";
        showAndHide()
        return false;
      }
            
      if(Email.includes(checkEmailValid) == false){
        error.innerHTML = "please enter a valid email address";
        showAndHide()
        return false
      }
      
      if(Email.includes(checkEmailValid2)==false){
        error.innerHTML = "please enter a valid email address";
        showAndHide()
        return false
      }
      if(pssword==''){
        error.innerHTML="Please enter the password";
        showAndHide()
        return false
      }
      if(pssword.length < 8){
        error.innerHTML = "Please try to use a strong password with symbols and numbers";
        showAndHide()
        return false
      }
      if (Email == ''){
        error.innerHTML = "please enter a valid email address";
        showAndHide()
        return false
      }
      if (phoneNumber == ''){
        error.innerHTML = "please enter a valid phone number";
        showAndHide()
        return false
      }
      if (confirm == ''){
        error.innerHTML = "please enter the password again";
        showAndHide()
        return false
      }
      if(phoneNumber.length < 10){
        error.innerHTML="Please enter a valid Phone Number";
        showAndHide()
        return false
      }
      if(pssword==confirm){
        return true
      }
      else{
        error.innerHTML = "Password fields doesn't matched";
        showAndHide()
        return false
      }
    
      
    }
  
    closeBtn.addEventListener("click",closeError)
    function closeError(){
      errorSection.classList.toggle("closeerror")
    }
  </script>
</body>

</html>